In [1]:
%matplotlib inline
import pandas as pd

In [47]:
df = pd.read_csv('olympics.csv',index_col=0, encoding="UTF-8", skiprows=1)

In [48]:
# its shows you first 5 rows in the dataset
h = df.head()
# len of the dataset
len(df)

147

In [49]:
# it shows you last 5 rows in the dataset
df.tail()
h

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [29]:
h['0']

0                  NaN
1    Afghanistan (AFG)
2        Algeria (ALG)
3      Argentina (ARG)
4        Armenia (ARM)
Name: 0, dtype: object

In [55]:
# show all the columns names
columns = df.columns

In [70]:
# iterate over the columns 
# print col
for col in columns:
    print(col)

№ Summer
01 !
02 !
03 !
Total
№ Winter
01 !.1
02 !.1
03 !.1
Total.1
№ Games
01 !.2
02 !.2
03 !.2
Combined total

Index(['№ Summer', '01 !'], dtype='object')